<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zebra.enterpriseservices">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zebra.enterpriseservices.LicenceActivity"></activity>
        <activity android:name="com.zebra.enterpriseservices.RESTHostServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.zebra.enterpriseservices.RESTHostService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.zebra.enterpriseservices.RESTHostServiceBroadcastReceiverBootCompleted"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.zebra.enterpriseservices.RESTHostServiceBroadcastReceiverStart"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.zebra.enterpriseservices.startservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.zebra.enterpriseservices.RESTHostServiceBroadcastReceiverStop"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.zebra.enterpriseservices.stopservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.zebra.enterpriseservices.RESTHostServiceBroadcastReceiverSetup"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.zebra.enterpriseservices.setupservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>